.box{
    width: 200px;
    height: 200px;
    background-color: rgb(197, 13, 221);
    justify-content: center;
    display: flex;
    align-items: center;
    background: #b43a3a;
    background: linear-gradient(90deg, rgba(180, 58, 58, 0.4) 0%, rgba(253, 29, 29, 1) 64%, rgba(252, 176, 69, 1) 100%);
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all linear 2s;
}
.box:hover{
    transform: rotatex(360deg);
}
body{
    padding: 80px 120px;
}
h1{

}
@media (max-width: 600px){
    .box{
        padding: 40px 80px;
        display: block;
    }
}
    