body{
    font-family: Arial, sans-serif;
    background: white;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.box1{
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 10px black;
}
.box1 h2{
     margin-bottom: 10px;
}

.box1 p{
   color: #555;
   font-size: 14px;
   line-height: 20px;
}
.box1 {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 10px black;
}
.box1 h2{
    margin-bottom: 10px;  
}
.box1 p{
    color: #555;
    font-size: 14px;
    line-height: 20px;
}
.line{
    height: 3px;
    margin-top: 20px;
    background: linear linear-gradient(to right, red,blue);
    border-radius: 5px;
}

