.main-navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    color: antiquewhite;
    padding: 10px;
    position: relative;
    z-index: 1100;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;

}
.searh-box{
    display: flex;
    align-items: center;
    width: 50%;
}
.search-box select {
    padding: 6px;
}
.search-box input{
   flex:1;
    padding: 6px;
}
.search-box button{
     background-color: orange;
     border: none;
     padding: 6px 10px;
}
.nav-right a{
color: white;
margin-left: 15px;
text-decoration: none;
}
.navbar1{
    display: flex;
    align-items: center;
    background-color: #232f3e;
    padding: 8px;
    position: relative;
    z-index: 1100;
}
.all-menu button{
    background-color: black;
     color: white;
     font-weight: bold;
     margin-right: 15px;
     cursor:pointer;
}
.links a{
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-size:14px;
}
.sidebar{
    position: fixed;
    top:0;
    left: 0;
    width: 0;
    height: 100;
    color: aliceblue;
    background: rgb(80, 78, 78);
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
    z-index:1000;
    padding-top: 20px;
}
.hero-section{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color: #f26622;
     display: flex;
}
.section1 {
    background: #ffffff;
    padding: 90px 0;
}

.container2 {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 50px;
}

.text h1 {
    font-size: 44px;
    margin-bottom: 20px;
    color: #000000;
}

.text p {
    color: #e02222;
    max-width: 500px;
}
.btn-app {
    margin-top: 30px;
    display: flex;
    gap: 16px;
}

.btn-app a {
    background: #e4516e;
    border: #ffffff,solid;
    padding: 0px 84px;
    border-radius: 10px;
    font-size: 8px;
    color: #ffffff;
    
   
}